<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
</head>
<body>

  <h1>URL Shortener</h1>
  <form id="shorten-form" action="shorten" method="post">
    <label for="url">Enter a URL:</label>
    <input type="text" style="width: 800px" id="url" name="url">
    <input type="submit" value="Shorten">
  </form>


</body>
</html>
