<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener Result</title>
</head>
<body>

  <h1>URL Shortener Result</h1>
  <p>Original URL: <a href="<%= originalUrl %>"><%= originalUrl %></a></p>
  <p>Shortened URL: <a href="<%= shortUrl %>"><%= shortUrl %></a></p>

</body>
</html>
